@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;

}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.header {
  display: flex;
}

.header .left-links {
  padding-left: 8px;
  display: flex;
  gap: 8px;
}

.header .right-links {
  padding-right: 8px;
  margin-left: auto;
  display: flex;
  gap: 8px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  margin-top: 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.content {
  padding: 8px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.footer {
  display: flex;
}
.footer .left-links {
  padding-left: 8px;
  display: flex;
  gap: 8px;
}
.footer .right-links {
  padding-right: 8px;
  margin-left: auto;
  display: flex;
  gap: 8px;
}
